
.container {
  text-align: center;
  display: block;
  vertical-align: middle;
  height: 100vh;
  position: relative;
}

.content {
  text-align: center;
  position: relative;
  top: 45vh;
}

.title {
  font-size: 96px;
  font-weight: 600;
}

.subhead {
  font-size: 2em;
  font-weight: 100;
  margin: 2em 0;
}

.appbar-spacer {
  flex: 1 1 auto;
  text-align: center;
}

.mat-toolbar {
  background-color: inherit;
  border-bottom: 1px solid #ddd;
}

.appbar-spacer mat-form-field {
  color: #999;
  width: 30em;
}
