:host {
  display: inline;
  width: 30em;
  vertical-align: middle;
  transition: 1s all;
}

.mat-card {
  background-color: inherit;
  border: 1px solid #ddd;
}

mat-card mat-card-header {
  display: inline;
  text-align: center;
}

.login-selector {
  display: flex;
  flex-direction: column;
}

.login-selector button {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
  
.google {
  background-color: #DB4437;
}

.facebook {
  background-color: #3b5998;
}

.text-center {
  text-align: center;
}
