<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Dogepass Login</mat-card-title>
    <mat-card-subtitle *ngIf="!isAuthed">Choose a login method</mat-card-subtitle>
    <mat-card-subtitle *ngIf="isAuthed">Choose an action</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="auth.user | async as user; else showLogin" class="login-selector">
      <p>You are logged in as {{user.email}}</p>
      <button mat-stroked-button disabled>Profile</button>
      <button mat-stroked-button disabled>Manage Payments</button>
      <button mat-stroked-button disabled>My Content</button>
      <button mat-stroked-button class="logout" (click)="logout()">Logout</button>
   </div>
    <ng-template class="login-selector" #showLogin>
      <div class="login-selector">
        <button mat-stroked-button disabled class="discord">Discord</button>
        <button mat-stroked-button class="google" (click)="googleLogin()">Google</button>
        <button mat-stroked-button class="facebook" (click)="facebookLogin()">Facebook</button>
        <button mat-stroked-button disabled class="pb">PawByte</button>
      </div>
    </ng-template>
    <br />
    <hr />
  </mat-card-content>
  <mat-card-actions *ngIf="!isAuthed">
    <button mat-stroked-button>Trouble logging in?</button>
    <button mat-stroked-button>2FA</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="isAuthed">
    <a mat-stroked-button routerLink="/">Home</a>
  </mat-card-actions>
</mat-card>

